<div >
  <div class="about">
    <div>
      <h1>About<a>.</a></h1>
      <p>Welcome to my portfolio! I'm glad you're here.</p>
      <p>I am a {{_age}}-year-old student from Wilnis, currently studying at Hogeschool Utrecht. My focus is on front-end development, and I'm passionate about creating engaging user experiences.</p>
      <p>This portfolio showcases the projects that have contributed to my growth as a developer. It reflects my commitment to merging aesthetics with functionality in web design.</p>
      <p>I approach my work with a continuous thirst for knowledge. I stay updated with the latest web technologies and strive to refine my skills in design and coding.</p>
      <p>Join me on this journey as we explore the ever-changing digital landscape. Together, we can push the boundaries of what can be achieved and create remarkable digital solutions.</p>
      <p>Thank you for visiting, and I hope you find inspiration in my work!</p>
    </div>
      <h2>School</h2>
    <div class="cards">
      <mat-card>
        <mat-card-header>
          <mat-card-subtitle>2015 - 2020</mat-card-subtitle>
          <mat-card-title>Havo</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>Natuur & Techniek</p>
          <P>Veenlanden College</P>
        </mat-card-content>
      </mat-card>
      <mat-card>
        <mat-card-header>
          <mat-card-subtitle>2020 - Now</mat-card-subtitle>
          <mat-card-title>HBO</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>HBO-ICT Software development</p>
          <P>Hogeschool utrecht</P>
        </mat-card-content>
      </mat-card>
      <mat-card>
        <mat-card-header>
          <mat-card-subtitle>2023 - 2024</mat-card-subtitle>
          <mat-card-title>Minor</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>E-marketing & Social media</p>
          <P>Hogeschool utrecht</P>
        </mat-card-content>
      </mat-card>
    </div>

    <h2>Skills</h2>
    <div class="cards">
      <mat-card>
        <mat-card-header>
          <mat-card-subtitle>2020 - Now</mat-card-subtitle>
          <mat-card-title>Front-end</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>HTML, CSS, Javascript, Angular, React, Flutter</p>
        </mat-card-content>
      </mat-card>
      <mat-card>
        <mat-card-header>
          <mat-card-subtitle>2020 - Now</mat-card-subtitle>
          <mat-card-title>Back-end</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>Java, Python, C#</p>
        </mat-card-content>
      </mat-card>
      <mat-card>
        <mat-card-header>
          <mat-card-subtitle>2020 - Now</mat-card-subtitle>
          <mat-card-title>Design</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>Figma</p>
        </mat-card-content>
      </mat-card>
    </div>

    <h2>Experience</h2>
    <div class="cards">
      <mat-card>
        <mat-card-header>
          <mat-card-subtitle>2022 - 2023</mat-card-subtitle>
          <mat-card-title>Internship</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>Front-end developer</p>
          <P>Advisor Software Solutions</P>
        </mat-card-content>
      </mat-card>
    </div>

    div class="cards">
      <mat-card>
        <mat-card-header>
          <mat-card-subtitle>2024 - Now</mat-card-subtitle>
          <mat-card-title>Internship</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>Software developer</p>
          <P>HoorayHR</P>
        </mat-card-content>
      </mat-card>
    </div>

    <h2>Socials</h2>
    <div class="cards">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Instagram</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>Follow me on Instagram</p>
          <P>@ricovossestein</P>
        </mat-card-content>
      </mat-card>
  </div>
</div>
</div>
