
<div class="contact-container">
  <div class="photo">
  </div>
  <div class="contact-info">
    <h1>Contact<a>.</a></h1>
    <p>Feel free to contact me with any questions or comments.</p>
    <form (ngSubmit)="sendEmail($event)">
      <mat-form-field>
      <input matInput type="email" name="email" placeholder="email">
      </mat-form-field>
      <mat-form-field>
      <textarea  matInput name="message" id="message" placeholder="message"></textarea>
      </mat-form-field>
      <!-- your other form fields go here -->
      <button mat-raised-button type="submit" color="primary">Send</button>
    </form>
    <div class="socials">
      <button mat-fab color="accent" (click)="openInstagram()" >
        <img src="../../assets/instagram.svg" alt="instagram">
      </button>
      <button mat-fab color="accent" (click)="openMail()">
        <img src="../../assets/email.svg" alt="email">
      </button>
    </div>

  </div>
</div>
