
<div class="contact-container">
<!--  <div class="photo">-->
<!--  </div>-->
  <div class="contact-info">
    <div>
      <h1>Contact<a>.</a></h1>
<!--      <form>-->
<!--        <label>-->
<!--          Your email:-->
<!--          <input type="email" name="email">-->
<!--        </label>-->
<!--        <label>-->
<!--          Your message:-->
<!--          <textarea name="message"></textarea>-->
<!--        </label>-->
<!--        &lt;!&ndash; your other form fields go here &ndash;&gt;-->
<!--        <button type="submit">Send</button>-->
<!--      </form>-->
    </div>
  </div>
</div>
