@use '@angular/material' as mat;
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

@include mat.core();
@include mat.legacy-core();

$md-mcgpalette0: (
  50 : #fff0e0,
  100 : #fedab3,
  200 : #fdc280,
  300 : #fcaa4d,
  400 : #fc9726,
  500 : #fb8500,
  600 : #fa7d00,
  700 : #fa7200,
  800 : #f96800,
  900 : #f85500,
  A100 : #ffffff,
  A200 : #fff1eb,
  A400 : #ffccb8,
  A700 : #ffba9f,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);




// Define a light theme
$light-primary: mat.define-palette($md-mcgpalette0);
$light-accent: mat.define-palette($md-mcgpalette0, 50);
$light-theme: mat.define-light-theme(( color: ( primary: $light-primary, accent: $light-accent ) ));

// Apply the dark theme by default
@include mat.core-theme($light-theme);
@include mat.button-theme($light-theme);
@include mat.card-theme($light-theme);
@include mat.checkbox-color($light-theme);
@include mat.dialog-color($light-theme);
@include mat.form-field-theme($light-theme);
@include mat.icon-theme($light-theme);
@include mat.list-theme($light-theme);
@include mat.option-theme($light-theme);
@include mat.select-theme($light-theme);
@include mat.table-theme($light-theme);
@include mat.toolbar-theme($light-theme);
@include mat.snack-bar-theme($light-theme);
@include mat.datepicker-theme($light-theme);
@include mat.progress-spinner-theme($light-theme);
@include mat.chips-theme($light-theme);
@include mat.tabs-theme($light-theme);

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
