<div class="introduction">
  <h1>Hi,</h1>
  <div class="introduction-line">
    <h1>I am</h1><h1 class="introduction-name">Rico</h1>
  </div>
  <h3>Welcome to my portfolio</h3>
</div>

<div class="photo">
<!--  <svg viewBox="0 0 1000 200" preserveAspectRatio="none" class="site-header-background">-->
<!--    <defs>-->
<!--      <linearGradient id="header-gradient" x2="0%" y2="100%">-->
<!--        <stop offset="0%" stop-color="#FBDA61" />-->
<!--        <stop offset="100%" stop-color="#F76B1C" />-->
<!--      </linearGradient>-->
<!--    </defs>-->
<!--    <path class="jagged-top" id="jagged-top" fill="url(#header-gradient)" d="M0,0 L1000,0 C950,20 950,70 1000,90 L1000,200 L0,200 L0,90 C50,70 50,20 0,0 Z" />-->
<!--  </svg>-->

</div>
